:root{
    --bs-blue: #DBBE70;
    --bs-primary: #DBBE70;
    --bs-link-color: #DBBE70;
    --bs-primary-rgb: 219, 190, 112;
    --bs-gray: #8F002C;
    --bs-secondary: #8F002C;
    --bs-secondary-rgb: 143, 0, 44;
    --bs-link-hover-color: #8F6800;
    --bs-warning: #8F6800;
    --bs-yellow: #8F6800;
    --bs-warning-rgb: 143, 104, 0;

}

html{
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

.logo{
    width: 25%;
}